name: Node.js CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: sudo apt-get install -y libavformat-dev libavcodec-dev libavutil-dev libswscale-dev libsdl2-dev libgoogle-glog-dev 
    - run: npm install -g cmake-js      
    - run: npm install
    - run: npm run build --if-present
    - run: npm test
      env:
        CI: true
